:root{
    --text: #525252;
    --text-2: #822EF5;
    --text-2: #ffffff;
    --fontsize: 0.813rem;
    --bg: #f5f5f5;
    --bg-1: #822EF5;
    --bg-2: #9D9494;
    --bg-3: white;
    --border: #e6e6e6;
    --max-width: 67rem;
    --bgt: tomato ;
    --bgt-1: violet;
    --bgt-2: green;
    --bgt-3: blue;
    --container-width: min(100vw, var(--max-width));

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Barlow, sans-serif;
}

a:link, :visited, :hover, :active{ /* saca las decoraciones de links */
    color: var(--text);
}


.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.width-100{
    width: 100%;
}

.width-90{
    width: 90%;
}


.max-width{
    max-width: var(--max-width);
}

.cardiseños{
    width: 15rem;
}