.input{
    border: none;
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    border-radius: 8px;
    color: #fff;
    font-size: 1.1rem;
    padding-inline-start: 2.5rem;
}

.input[type="email"] { background-color: #222; }
.input::placeholder { color: #666; }
.input:focus{
    outline: 2px solid rebeccapurple;
    background-color: rgb(53, 17, 88);
}
.input:focus::placeholder { color: rgb(131, 66, 196); }
.input::selection{
    background-color: greenyellow;
    color: #000;
}
.input:valid{
    outline: 2px solid greenyellow;
}
/*.input:invalid { outline: 2px solid red; } */

.input-sector i.not-align{
    top: 0.8rem;
    transform: translateY(0%);